# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
.venv/
ai_engine/models/
!ai_engine/models/
ai_engine/models/*
!ai_engine/models/xgboost_model.pkl
!ai_engine/models/distilbert-finetuned/
!ai_engine/models/distilbert-finetuned/**
!ai_engine/models/xgboost_experiments.json

# Node
server/node_modules/
server/package-lock.json
client/node_modules/
client/package-lock.json

# OS
.DS_Store
Thumbs.db
